body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}
#toggle-scores {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  background-color: #feca57;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#toggle-scores:hover {
  background-color: #ffdd88;
}

#start-button {
  display: block;
  margin: 20px auto;
  margin-bottom: 40px;
  padding: 10px 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  background-color: #feca57;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#start-button:hover {
  background-color: #ffdd88;
}



#score-board {
  width: 60%;
  margin: 0 auto;
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  text-align: left;
}



#score-board h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#highscores-list {
  list-style: none;
  padding-left: 0;
}

#highscores-list li {
  margin: 4px 0;
}


.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
